<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Samuel Durrant-Walker">
        <meta name="description" content="Homemade decorative items">
        <title><%= pageTitle %></title>

        <link rel="stylesheet" href="css/app.css">
    </head>
</html>
